<footer class="bg-white text-center">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="col-md-4 my-2">
        <div>
          <a class="btn btn-outline-dark m-1 btn-sm rounded-circle"
          target="_blank"
            href="https://www.linkedin.com/in/yong-cheng-low/"
            role="button">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-dark m-1 btn-sm rounded-circle"
          href="https://github.com/yongchenglow"
          target="_blank"
          role="button" >
            <i class="fab fa-github"></i>
          </a>
          <a class="btn btn-outline-dark m-1 btn-sm rounded-circle"
            href="https://yongchenglow.com"
            target="_blank"
            role="button" >
            <i class="fas fa-globe"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
          Huat <span class="fs-8">© <%= Time.zone.now.year %></span>
      </div>
      <div class="col-md-4 fs-7">
        <a href="https://www.lewagon.com/singapore" target="_blank" class="text-decoration-none text-body">Find out about Le Wagon <i class="fas fa-external-link-alt fs-10"></i></a><br/>
        <a href="mailto:lowyongcheng@hotmail.com" class="text-decoration-none text-body">Email Me! <i class="fas fa-external-link-alt fs-10"></i></a>
      </div>
    </div>
  </div>
</footer>
