<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/components/head' %>
  </head>
  <body>
    <%= render 'layouts/components/navbar' %>
    <%= render 'layouts/components/flashes' %>
    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
</html>
