<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/components/head' %>
  </head>
  <body>
    <%= render 'layouts/components/navbar' %>
    <%= render 'layouts/components/flashes' %>
    <div class="py-3">
      <div class="container-fluid d-flex justify-content-center mt-3">
        <div class="card container-fixed-500 border-0 shadow-sm bg-white">
          <div class="card-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
